/* YOUR CSS HERE */
.container {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", serif;
  font-style: normal;
  background-image: url("../images/sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerText {
  font-size: 3rem;
  color: white;
}

.fontOswald {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
}

.contents {
  height: 80%;
  display: flex;
}
.productArea {
  width: 80%;
}
.productListTitle {
  background-color: rgba(119, 119, 119, 0.53);
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.productList {
  display: grid;
  height: 85%;
  overflow: scroll;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
  column-gap: 10px;
  justify-items: center;
  padding: 40px 0;
}
.product {
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
}
.productTitle {
  height: 35px;
  overflow: scroll;
}
.productImage {
  text-align: center;
  margin-top: 30px;
}
.productImage img {
  width: 280px;
  object-fit: contain;
}
.productInfo {
  padding: 0 10px;
  height: 110px;
}
.buttonArea {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 5%;
  padding: 10px 0;
}
.AddCart {
  height: 35px;
  width: 80%;
  background-color: lightsteelblue;
  border-radius: 20px;
  text-align: center;
}
.AddCart:hover {
  filter: brightness(1.05);
}

.AddCart:active {
  filter: brightness(0.8);
}
.removeCart {
  height: 35px;
  width: 15%;
  background-color: orangered;
  border-radius: 20px;
  text-align: center;
}
.removeCart:hover {
  filter: brightness(0.8);
}
.itemCount {
  display: flex;
}
.minusCart {
  height: 35px;
  width: 30%;
  background-color: white;
  border-radius: 20px 0 0 20px;
  text-align: center;
}
.plusCart {
  height: 35px;
  width: 30%;
  background-color: white;
  border-radius: 0 20px 20px 0;
  text-align: center;
}
.countNum {
  display: inline-block;
  width: 50px;
  line-height: 35px;
  background-color: white;
}

nav {
  width: 20%;
}

.items {
  background-color: rgba(119, 119, 119, 0.53);
  height: 90%;
  overflow: scroll;
}
.item {
  background-color: white;
  margin: 30px;
  border-radius: 20px;
}
.imageArea {
  text-align: center;
  padding: 20px 0;
}
.imageArea img {
  object-fit: contain;
  width: 125px;
  height: 160px;
}
.itemInfo {
  padding: 0 5px;
}

.itemTotal {
  background-color: lightgray;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText {
  color: white;
}

@media only screen and (max-width: 1125px) {
  .productList {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 880px) {
  .productList {
    grid-template-columns: 1fr !important;
  }

  .item {
    margin: 0;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .itemTitle {
    display: none;
  }
  .imageArea img {
    width: 80px;
    height: 80px;
  }
  .buttonArea {
    flex-direction: column-reverse;
  }
  .removeCart {
    height: 20px;
    width: 100%;
  }
  .buyButton {
    flex-direction: row;
  }
  .itemTotal {
    font-size: 12px;
  }
}
